trunk/Distribuidos/src/META-INF/wsdl/localhost_8080/WebServiceDistribuidos/AgendaService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="AgendaService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/WebServiceDistribuidos/AgendaService?xsd=1"/>
</xsd:schema>
</types>
<message name="consultar">
<part name="parameters" element="tns:consultar"/>
</message>
<message name="consultarResponse">
<part name="parameters" element="tns:consultarResponse"/>
</message>
<message name="guardar">
<part name="parameters" element="tns:guardar"/>
</message>
<message name="guardarResponse">
<part name="parameters" element="tns:guardarResponse"/>
</message>
<message name="prueba">
<part name="parameters" element="tns:prueba"/>
</message>
<message name="pruebaResponse">
<part name="parameters" element="tns:pruebaResponse"/>
</message>
<portType name="Agenda">
<operation name="consultar">
<input wsam:Action="http://WebService/Agenda/consultarRequest" message="tns:consultar"/>
<output wsam:Action="http://WebService/Agenda/consultarResponse" message="tns:consultarResponse"/>
</operation>
<operation name="guardar">
<input wsam:Action="http://WebService/Agenda/guardarRequest" message="tns:guardar"/>
<output wsam:Action="http://WebService/Agenda/guardarResponse" message="tns:guardarResponse"/>
</operation>
<operation name="prueba">
<input wsam:Action="http://WebService/Agenda/pruebaRequest" message="tns:prueba"/>
<output wsam:Action="http://WebService/Agenda/pruebaResponse" message="tns:pruebaResponse"/>
</operation>
</portType>
<binding name="AgendaPortBinding" type="tns:Agenda">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="prueba">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AgendaService">
<port name="AgendaPort" binding="tns:AgendaPortBinding">
<soap:address location="http://localhost:8080/WebServiceDistribuidos/AgendaService"/>
</port>
</service>
</definitions>